:root {
    --primary-color: rgb(34,34,34);
    --secondary-color: rgb(64,64,64);
    --tertiary-color: rgb(60, 60, 60);
    --text-primary: rgb(200,200,200);
    --text-secondary: rgb(120,120,120);
    --borders: rgb(120,120,120) 1px solid;
    --valid: rgb(0, 235, 0);
}

[data-theme="pink"] {
    --primary-color: rgb(252,142,172);
    --secondary-color: rgb(252, 100, 140);
    --tertiary-color: rgb(240, 97, 135);
    --text-primary: rgb(253, 253, 253);
    --text-secondary: rgb(216, 213, 214);
    --borders: rgb(248, 196, 210) 1px solid;
    --valid: rgb(0, 235, 0);
}

[data-theme="light"] {
    --primary-color: rgb(223, 223, 223);
    --secondary-color: rgb(197, 197, 197);
    --tertiary-color: rgb(151, 151, 151);
    --text-primary: rgb(0, 0, 0);
    --text-secondary: rgb(94, 94, 94);
    --borders: rgb(3, 3, 3) 1px solid;
    --valid: rgb(0, 235, 0);
}



* {
    user-select: none;
}

body {
    background: var(--primary-color);
    overflow: hidden;
    margin: 0;
    transition: background 0.5s ease-in-out;
}

.container {
    margin-top: 300px;
    text-align: center;
}

#play:hover {
    color: var(--valid);
    transition: color 0.35s ease-in-out;
}

.title_text {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-primary);
    font-size: 42px;
    margin-top: 150px;
    text-align: center;
}

.welcome-username {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-primary);
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
}

.button-container {
    gap: 20px;
    justify-content: center;
    display: grid;
}

.button {
    transform: translate(0);
    transition: transform 0.2s ease-in-out;
}

.buttons {
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-primary);
    width: 250px;
    height: 50px;
    border: var(--borders);
    background: var(--secondary-color);
    cursor: pointer;
    transition: color 0.5s ease;

}

.option {
    padding: 9px 24px;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-primary);
    border: var(--borders);
    background: var(--secondary-color);
    cursor: pointer;
    transform: translate(0);
    transition: transform 0.2s ease-in-out;
}

.login-logout {
    overflow: hidden;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-primary);
    padding: 9px 45px;
    border: var(--borders);
    background: var(--secondary-color);
    cursor: pointer;
    transform: translate(0);
    transition: transform 0.2s ease-in-out;    
}

button:hover {
    background: var(--tertiary-color);
    transform: translateY(1px);
    transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.username-text {
    color: var(--valid);
}

#option-menu.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s ease-in-out, opacity 0.2s ease;
}

#option-menu {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
    border: var(--borders);
    border-radius: 10px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: var(--secondary-color);
    height: 250px; width: 500px;
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

#option-menu button {
    float: right;
    margin: 20px;
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-primary);
    border: var(--borders);
    background: var(--secondary-color);
    cursor: pointer;
}

#option-menu i {
    color: var(--text-primary);
    font-size: 25px;
    float: left;
    margin: 20px;
}

.option-title {
    display: none;
    position: relative;
    top: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-primary);
}

.option-container {
    display: grid;
    gap: 5px;
}

.theme-box {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 80px;
    padding: 5px 10px;
    background: var(--secondary-color);
    border: var(--borders);
    border-radius: 5px;
    width: 100%;
}

.theme-box h1 {
    color: var(--text-primary);
    font-weight: bold;
    font-size: 20px;
}

.theme-box p {
    font-weight: bold;
    color: var(--text-secondary);
}

.option-name {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

#backdrop1.backdrop0 {
    visibility: hidden;
    opacity: 0;
    backdrop-filter: blur(0);
    transition: visibility 0.25s ease-in-out, opacity 0.25s ease-in, backdrop-filter 0.25s ease-in;
}

#backdrop1 {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.25s ease-in-out, backdrop-filter 0.25s ease-in-out;
    background: rgba(24,24,24,0.7);
    backdrop-filter: blur(2px);
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%; height: 100%;
}

.selectbox {
    position: relative;
    bottom: 40px; right: 20px;
    float: right;
}

.selectbox select {
    border-radius: 5px;
    width: 80px;
    background: var(--secondary-color);
    padding: 5px;
    color: var(--text-primary);
}

@media (max-width: 720px) {

    #option-menu button {
        float: right;
        padding: 6px 16px;
        font-size: 15px;
    }

    #option-menu i {
        font-size: 20px;
        float: left;
        margin: 20px;
    }

    #option-menu {
        height: 200px; width: 400px;
    }

    .theme-box {
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 80px;
        padding: 10px 10px;
        background: var(--tertiary-color);
        border: var(--borders);
        border-radius: 5px;
        width: 100%; height: 50px;
    }

    .theme-box h1 {
        color: var(--text-primary);
        font-size: 15px;
    }

    .theme-box p {
        color: var(--text-secondary);
        font-size: 10px;
    }


    .button-container {
        gap: 10px;
    }

    .buttons {
        width: 150px;
        height: 40px;
        font-size: 20px;
    }

    .option {
        padding: 6px 15px;        
        font-size: 20px;
    }

    .login-logout {
        padding: 6px 13px;        
        font-size: 20px;
    }


    .title_text {
        font-size: 24px;
    }
}


@media (max-width: 420px) {

    .selectbox {
        bottom: 25px;
        right: 0px;
    }


    .theme-box {
        width: 100%; height: 60px;
    }

    .theme-box h1 {
        color: var(--text-primary);
        font-size: 15px;
    }

    .theme-box p {
        color: var(--text-secondary);
        font-size: 10px;
    }

    #option-menu {
        overflow: auto;
        height: 200px; width: 300px;
    }
}